    <style>
		/*#textarea-message-div{
			border-color: red;
			border-width: 8px;
			border-style: solid;
		}*/
        .ui-grid-a, .ui-grid-solo {
            width: 96vw;
            display: block;
            text-shadow: 0 0 0;
            /*text-align: center;*/
            #background: white;
            background: #dcdcdc;
            text-rendering: optimizelegibility;
            text-rendering: geometricprecision;
            font-smooth: always;
            font-smoothing: antialiased;
            -moz-font-smoothing: antialiased;
            -webkit-font-smoothing: antialiased;
            -webkit-font-smoothing: subpixel-antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
         .ui-grid-half {
            width: 50vw;
            text-shadow: 0 0 0;
            text-rendering: optimizelegibility;
            text-rendering: geometricprecision;
            font-smooth: always;
            font-smoothing: antialiased;
            -moz-font-smoothing: antialiased;
            -webkit-font-smoothing: antialiased;
            -webkit-font-smoothing: subpixel-antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
        .ui-controlgroup-horizontal {
            display: block;
            width: 100%;
            text-align: center;
        }
         .content {
            width: 96vw;
        }
        .ui-controlgroup-controls {
            display: block;
            width: 100%;
            text-align: center;
        }
        /*.userimage {
            max-height: 60vh;
            max-width: 100vw
        }
        .image {
            width: 96vw;
            text-align: center;
            background: white
        }*/
        .mainpage {
            background: white;
        }
        .choicelegend {
            -webkit-font-smoothing: antialiased;
            -moz-font-smoothing: antialiased;
            -o-font-smoothing: antialiased;
            color: black;
            hanging-punctuation: none;
            background: #dcdcdc;
        }
        .captionlegend {
            color: white;
            width: 100vw;
            text-align: center;
        }
        #overlay {
            position: fixed;
            display: block;
            width: 100%;
            height: 100%;
     /*       text-align: center;*/
			overflow-y: scroll;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(255, 255, 255, 0.9);
            z-index: 2;
            cursor: pointer;
        }
		.noscroll {
			overflow: hidden;
		}

/* the dl section styles are for the faqs page */

		dl.faq button {
		  margin: 0;
 		  padding: 0;
		  margin-top: 1em;
		  font-weight: bold;
		  font-size: 105%;
		  border: thin solid transparent;
		  background-color: transparent;
		  padding-left: 0.125em;
          text-align: left
		}

		dl dd {
		  margin: 0;
		  padding: 0;
		  margin-left: 1.5em;
		}

		dl.faq .desc {
			margin: 0;
		    padding: 0.5em;
			font-size: 115%;
		    display: none;
			/*background-color: #fffedb; */
            text-align: left
		}

		dl.faq button:hover,
		dl.faq button:focus {
			background-color: #eee;
		}

		 dl.faq button:focus {
			border-color: #630;
		}

		dl.faq button:hover {
		  	text-decoration: underline;
		}

		dl.faq button:active {
			background-color: #bbb;
		}

		/*dl.faq button[aria-expanded="false"]::before {
			content: url('../images/right-arrow-brown.png');
			padding-right: 0.35em;
		}

		dl.faq button[aria-expanded="true"]::before {
			content: url('../images/down-arrow-brown.png');
			padding-right: 0.35em;
		} */
</style>
